@charset "UTF-8";

body {
    background-color: #CEF4FB;
    color: #30393B;
    font: normal 20px verdana, arial, serif;
    padding: 30px;
}

h1 {
    background-color: #B8DAE0;
    color: #64777A;
    padding: 20px;
    text-indent: 50px;
}

h1#principal {
    background-color: #64777A;
    color: whitesmoke;
    text-align: center;
}

.basico {
    color: #647a66;
    padding: 20px;
}

.intermediario {
    color: #787a64;
    padding: 20px;
}

.avancado {
    color: #7a6464;
    padding: 20px;
}

p {
    text-indent: 70px;
    text-align: justify;
}